/* css body first */
.body_first {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.body_first img {
    /* margin-left: 30px; */
}

.body_first .benefit {
    border-radius: 5px;
    border: 1px solid rgb(131, 125, 125);
    min-width: 350px;
    min-height: 410px;
    background-color: aliceblue;
}

.body_first .benefit h2 {
    color: var(--text-color);
    text-decoration: underline;
    text-align: center;
    background-color: var(--background-color);
    padding-bottom: 10px;
}

.item-benefit {
    display: flex;
    border: 1px solid rgb(131, 125, 125);
    border-radius: 5px;
    background-color: white;
    margin: 5px;
    align-items: center;
}

.item-benefit .icons {
    margin-left: 10px;
    font-size: 32px;
    color: var(--icon-color);
}

.item-benefit .content {
    margin-left: 10px;
    max-width: 280px;
}

.item-benefit .content h3 {
    color: var(--main-color);
}

/* css phần sản phẩm bán chạy */
.best-seller {
    margin-top: 10px;
    background-color: var(--background-color);
}

.best-seller .title {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.best-seller .title .icon-best-seller {
    color: var(--main-color);
    margin: 0px 12px;
    font-size: 24px;
}

.best-seller .title h4 {
    padding-top: 4px;
    padding-bottom: 4px;
    /* border-bottom: 1px solid var(--main-color); */
    color: var(--main-color);
    font-size: 29px;
}

.best-seller .product {
    display: flex;
    justify-content: space-between;
    /* margin: 0px 10px 0px 10px; */
    flex-wrap: wrap;
    margin: 0px 30px 0px 30px;
    border: 1px solid red;
}

.contetn-product {
    display: flex;
    margin: 10px;
    height: 120px;
    border: 1px solid red;
}

.contetn-product img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid red;
    /* border-radius: 10px; */
}

.contetn-product .content {
    background-color: whitesmoke;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    // align-items: center;
    // line-height: 50px;
    padding: 10px;
    padding-top: 5px;
    border: 1px solid yellow;
    color: green;
    width: 250px;
}

.contetn-product .content h3:last-child {
    color: pink;
}

.btn-add-product-bestseler {
    background-color: var(--btn-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* css danh mục cây kiểng */
.category-plants {
    position: relative;
    border: 1px solid green;
    margin: 10px;
    // background-color: white;
    border-radius: 5px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
}

.stemp {
    position: absolute;
    top: 10px;
    left: -9px;
    color: green;
    background-color: var(--main-color);
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 1.6rem;
    // margin-left: 5px;
    padding: 5px;
    // margin-bottom: 50px;
}

.stemp span {
    color: white;
    margin-left: 5px;
}

.stemp::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    border-top: 8px solid var(--main-color);
    border-left: 8px solid transparent;
    filter: brightness(60%);
    // border: 1px solid red;
}

.stemp::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -20px;
    border-bottom: 20px solid var(--main-color);
    border-right: 20px solid transparent;
}

.stemp::before {
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
    border-top: 20px solid var(--main-color);
    border-right: 20px solid transparent;
}

// .category-plants{
//     overflow: hidden;
// }

// .list-plants{
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
//     margin: 60px 30px 30px;
//     padding: 10px 0px;
//     background-color: white;
//     // border: 1px solid red;
// }

// test
.category-plants {
    position: relative;
    // border: 1px solid green;
    margin: 10px;
    // border: 1px solid red;
    background-color: var(--background-color);
    border-radius: 5px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    // overflow: hidden;
    // position: relative;
}

.list-plants {
    display: flex;
    overflow: hidden;
    align-items: center;
    background-color: var(--background-color);
    margin: 40px 40px 20px 40px;
    // border: 1px solid white;
}

.arrow-button {
    border: none;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
    padding: 12px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.icons-left {
    color: var(--main-color);
    font-size: 24px;
}

.icons-right {
    color: var(--main-color);
    font-size: 24px;
}

.left-button {
    z-index: 10;
    margin-right: 10px;
    // border: 1px solid red;
}
.right-button {
    z-index: 10;
    margin-right: -14px;
    // border: 1px solid red;
}

.detail-plant-container {
    display: flex;
    transition: transform 0.3s ease;
    // border: 1px solid blue;
    // margin-right: 40px;
}

.detail-plant {
    width: 200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    // border: 5px solid yellow;
}

.detail-plant .custom-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}

.detail-plant h3 {
    margin-bottom: 5px;
}

.detail-plant h3 a {
    text-decoration: none;
    color: var(--text-color);
}

.price {
    display: flex;
    justify-content: space-between;
}

.price-old {
    text-decoration: line-through;
    color: #999;
}

.price-new {
    color: #f00;
}
//

.left-button {
    position: absolute;
    top: 200px;
    left: 0px;
    font-size: 25px;
}

.right-button {
    position: absolute;
    top: 200px;
    right: 14px;
    font-size: 25px;
}

.detail-plant {
    border: 1px solid var(--text-color);
    text-align: center;
    margin: 10px 25px;
    overflow: hidden;
    width: 250px;
    border-radius: 5px;
    height: 350px;
    flex-shrink: 0;
    // border: 1px solid red;
}

.detail-plant img {
    width: 250px;
    height: auto;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
    margin-bottom: 0px;
}

.detail-plant h3 {
    color: greenyellow;
    font-size: 22px;
    text-decoration: underline;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-old {
    text-decoration: line-through;
    margin-right: 20px;
}

.price-new {
    // text-decoration: line-through;
    // margin-right: 20px;
    font-size: 20px;
}

.detail-plant:hover img {
    margin-bottom: 20px;
    transform: scale(1.2);
}

.detail-plant:hover {
    background-color: var(--background-color);
    box-shadow: 0 0 5px white, 0 0 10px var(--main-color), 0 0 15px var(--background-color);
    // color: pink;
}

.detail-plant:hover h3 {
    color: pink;
}

.detail-plant:hover .add-product {
    display: block;
    // position: ;
}

.add-product {
    position: absolute;
    bottom: 84px;
    // border: 1px solid red;
    padding: 10px 40px;
    border-radius: 0px;
    display: none;
    color: var(--text-color);

    background-color: rgba(34, 32, 32, 0.3);
}
