.footer-container {
    background-color: var(--background-color);
    margin: 40px 0 30px;
    min-height: 260px;
    width: 100%;
}
.grid.wide {
    margin: 0 auto;
    max-width: 1200px;
}
.footer-bar {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.footer__col {
    width: 33.33%;
}
.footer__col-group {
    display: block;
    font-size: 12px;
    padding: 10px 20px 10px 0;
    width: 100%;
}
.footer__label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 10px;
}
.footer__map {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 0 0;
    width: calc(100% - 10px);
}

.footer__link {
    color: #333;
    display: block;
    font-size: 17px;
    margin: 4px 0;
    padding: 4px 0;
    text-decoration: none;
}
